services:
    hostmanager:
        image: ghcr.io/dkarlovi/docker-hostmanager.rs:1.0.0
        profiles:
            - linux
        restart: always
        volumes:
            - /etc/hosts:/hosts
            - /var/run/docker.sock:/var/run/docker.sock
