services:
    hostmanager:
        image: ghcr.io/dkarlovi/docker-hostmanager.rs:1.1.0
        profiles:
            - linux
        restart: always
        volumes:
            - /etc/hosts:/hosts
            - /var/run/docker.sock:/var/run/docker.sock

    cloudflared:
        image: cloudflare/cloudflared:latest
        restart: on-failure
        entrypoint:
            - /bin/sh
            - -c
        command:
            - "[ -f /root/.cloudflared/config.yaml ] && exec cloudflared --no-autoupdate tunnel run || exit 0"
        volumes:
            - ~/.cloudflared:/root/.cloudflared:ro
        networks:
            - public

networks:
    public:
        name: public
